{{#each projects}}
    <div class="project">
        <div class="image sprite sprite-{{image}}"></div>
      {{#each tags}}
          <a href="{{url}}" target="_blank" title="{{name}}" class="tag" style="color: {{color}}">
              <i class="icon-{{icon}}"></i>
          </a>
      {{/each}}
        <h4><a href='{{url}}' target='_blank'>{{name}}</a></h4>
        <div class="desc">{{desc}}</div>
    </div>
{{/each}}
